{% extends "base.html.twig" %}

{% block title %} Ajout d'un nouveau produits {% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-12">
        
        </div>
    </div>
</section>  
{% endblock %}